/*NAV SECTION*/
.navbar-brand{
    font-size: 2rem;
}

.text-danger{
    color: orange!important;
}

.bg-danger{
    background-color: orange!important;
}

.btn-danger{
    background-color: orange!important;
    border: orange!important;
}

.nav-link{
    font-size: 1.2rem;
}

/*HERO SECTION*/

.hero{
    background: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

button:hover{
    background-color: orange!important;
    border-color: orange!important;
}

hr{
    width: 200px;
    height: 1px;
}

.card{
    transition:0.5s;
}

.card:hover{
    background-color: black!important;
}